@import "tailwindcss";


/* Light Mode  */
@layer base {
    :root {
        --default-brand: 253 60% 52.9%;
        --foreground: #000000;
    }

    .dark {
        --default-brand: 152.9 60% 52.9%;
        --foreground: #ededed;

    }
}

/* Custom Colors in Tailwind */
@theme {
    --color-primary: hsl(var(--default-brand)/.7);
    --color-foreground: var(--foreground)
}

@custom-variant dark (&:where(.dark, .dark *));